/* Navbar */

#coon-navbar {
  font-family: RobotoDraft, Roboto, sans-serif;
}
#coon-navbar-toggler {
  height: 45px;
  width: 45px;
  padding: 5px;
  position: fixed;
  z-index: 101000;
  opacity: 0.8;
}
#coon-navbar-toggler img {
  width: 100%;
}
#coon-navbar-hoverarea-trigger {
  position: fixed;
  z-index: 101000;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  overflow: auto;
}
#coon-navbar-hoverarea-trigger.visible {
  background-color: gray;
  opacity: 0.2;
}
#coon-navbar.active #coon-navbar-content {
  left: 0;
}
#coon-navbar-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -230px;
  width: 220px;
  z-index: 101200;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 10px;
  transition: all 0.3s;
  transition-delay: 0.2s;
}
#coon-navbar-overlay {
  background-color: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100900;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s linear 0.2s;
}
#coon-navbar.active #coon-navbar-overlay {
  opacity: 0.3;
  visibility: visible;
}
#coon-navbar-user-list {
  list-style: none;
  height: 100%;
  overflow: auto;
  margin: 0px;
  -webkit-padding-start: 0px;
}
#coon-navbar-user-list li {
  padding: 5px 5px 5px 15px;
  min-height: 40px;
}
#coon-navbar-user-list li.admin {
  padding: 5px 5px 5px 15px;
  min-height: 36px;
}
#coon-navbar-user-list li a {
  color: #0FADAF;
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 20px;
}
#coon-navbar-user-list li a:hover {
  text-decoration: underline;
}
#coon-navbar-user-list li .secondary-text {
  color: #B2B2B2;
  font-size: 12px;
  line-height: 16px;
}
#coon-navbar-content-header {
  border-bottom: 1px solid #ABA8A8;
  height: 160px;
  width: 100%;
  display: block;
  box-sizing: border-box;
}
#coon-navbar-content-header-background {
  background: #fff url('chrome-extension://__MSG_@@extension_id__/src/img/coon_background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
#coon-filter-users-wrapper {
  padding: 15px;
  box-sizing: border-box;
}
#coon-filter-users {
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
  margin: 0;
}
#coon-loading-wrapper {
  position: absolute;
  left: 220px;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 10px;
  width: 175px;
  height: 105px;
  background-color: rgb(222, 222, 222);
  opacity: 0.85;
  /* border-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 101100;
}
#coon-loading-wrapper .coon-loading {
  background: url('chrome-extension://__MSG_@@extension_id__/src/img/coon_loading.png');
  background-repeat: no-repeat;
  background-size: 96px 60px;
  width: 96px;
  height: 60px;
  margin: 0 auto;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#coon-loading-wrapper img {
  float: left;
  margin-top: 30px;
}
#coon-loading-text {
  margin-left: 68px;
  font-size: 17px;
  font-weight: bold;
  color: #292928;
}
#coon-loading-wrapper .coon-shadow {
  position: absolute;
  height: 105px;
  width: 2px;
  background-color: rgba(255, 0, 0, 0);
  left: -2px;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 0px 10px;
}

#coon-navbar-nav {
	margin-bottom: 0px;
}

#coon-navbar-nav {
	margin-bottom: 0px;
}

#coon-navbar-functions-content {
	display: none;
	padding: 15px;
}
