<article class="content-container">
  <header class="header">
    <h3 class="title">
      <span class="icon glyphicon glyphicon-info-sign"></span> Om The Coon
    </h3>
  </header>
  <section class="content">
    <div>
      <iframe width="200" height="115" src="https://www.youtube.com/embed/k-pqU_1Ipp4" frameborder="0" allowfullscreen style="display: block; margin: 0 auto 10px;"></iframe>
    </div>
  	<div>
  		<p>
  			<em>Journalen</em> isn't what it used to be. It all happened so fast.
        Everything went to crap. It's like... everyone's sense of morals just... disappeared.
        Bad economy made things worse. The jobs started drying up. Then the stores had to shut down.
        Then a black man was elected President. He was supposed to change things. He didn't.
  		</p>
  		<p>
  			As more and more people turned to crime and violence <em>Journalen</em> becomes gripped in fear.
        Dark times. <em>Journalen</em> needs protection.
  		</p>
  		<p>
  			There is an animal that lives by night, searches the trashcans and cleans out the garbage.
        To clean out the trashcan of <em>Journalen</em> I've chosen to become more than a man.
        I'm the hero <em>Journalen</em> needs. I am... <strong>The Coon!</strong>
  		</p>
  		<p>
  			As the world plummets into despair <strong>The Coon</strong> fights to keep order intact.
  		</p>

  	</div>
  </section>
</article>
