<article id="settings-content">
  <header class="header">
    <h3 class="title">
      <span class="glyphicon glyphicon-cog icon"></span> Settings
    </h3>
  </header>
  <section class="content">
    <div id="coon-settings">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="enable-navbar"> Coon navbar
        </label>

        <div class="sub-settings">
          <label>
            <input type="checkbox" id="enable-remember-last-page"> Remember last page you were on
          </label>
        </div>

        <div>
          <label>
            <input type="checkbox" id="enable-keep-me-logged-in"> Keep me logged in
          </label>
        </div>

        <div>
          <label>
            <input type="checkbox" id="enable-auto-enable-journal-notes"> Enable Journal notes automatically
          </label>
        </div>
      </div>

      <div style="height: 70px">
        <div class="alert alert-warning" id="message" role="alert">

        </div>
      </div>
    </div>
  </section>
</article>
