
#mainPopup {
	padding: 20px;
	height: 200px;
	width: 430px;
}

#mainPopup h3{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
}

.coon-img {
	margin-top: 20px;
	width: 100%;
}

#message {
	display: none;
}
#coon-settings label {
	margin-bottom: 3px;
}

#coon-settings .sub-settings {
	margin-left: 26px;
}